@font-face {
  font-family:pokemon;
  src: url("PokemonHollow.ttf");
}

.pokemon{
  font-family: pokemon;
}
@font-face {
  font-family:streetfighter;
  src: url("streetfighter.ttf");
}
.street{
  font-family:streetfighter;
}
body{
  background-image: url("image.jpg"):
}
